* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../images/background.png');
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}
body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}
header {
    padding: 32px;
    height: calc(120px + 32px);
}
header div {
    display: flex;
    width: 120px;
    margin: auto;
    padding: 4px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    transition: transform 0.3s;
}
header div:hover{
    transform: scale(1.1);
}
header div img {
    width: 100%;
    border-radius: 50%;
}
main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}
section {
    text-align: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}
section div {
    background-color: #2a2634; 
    padding: 25px;
    padding-top: 12px;
    border-radius: 8px;
}
section h2 {
    letter-spacing: -0.47px;
    color: white;
}
section p {
    letter-spacing: -0.18px;
    color: #a1a1aa;
}
section ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 24px;
    gap: 16px;
}
section ul li {
    transition: transform 0.3s;
}
section ul li:hover {
    transform: scale(1.1);
}
.games-list img {
    width: 90px;
    border-radius: 8px;
}
.channer-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54;
}

/* ANIMATIONS */

header div {
    animation: fromTop .5s 0.4s backwards;
}
main section {
    animation: fromBottom .7s backwards;
}
main section:nth-child(1){
    animation-delay: 0;
}
main section:nth-child(2){
    animation-delay: .4s;
}
main section:nth-child(3){
    animation-delay: .7s;
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 100;
        transform: translateY(0);
    }
}